doc/schemas/tilskudsblanket/blanketterminal_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nsi.dk/-/stamdata/3.0/tilskudsblanket" targetNamespace="http://nsi.dk/-/stamdata/3.0/tilskudsblanket">
  <xs:element name="blanketterminal">
    <xs:complexType>
      <xs:all>
        <xs:element name="Id" type="xs:string"/>
        <xs:element name="BlanketId" type="xs:integer"/>
        <xs:element name="ModifiedDate" type="xs:dateTime"/>
        <xs:element name="ValidFrom" type="xs:dateTime"/>
        <xs:element name="ValidTo" type="xs:dateTime"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
