nsp/cpr-ws/src/main/webapp/WEB-INF/wsdl/dkcc_20030213.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://rep.oio.dk/medcom.sundcom.dk/xml/schemas/2007/02/01/"
        xmlns:ns10="http://rep.oio.dk/xkom.dk/xml/schemas/2006/01/06/"
        xmlns:ns11="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/13/"
        xmlns:ns12="http://rep.oio.dk/cpr.dk/xml/schemas/core/2006/01/17/"
        xmlns:ns13="http://rep.oio.dk/itst.dk/xml/schemas/2006/01/17/"
        xmlns:ns14="http://rep.oio.dk/cpr.dk/xml/schemas/core/2006/09/01/"
        xmlns:ns15="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/09/01/"
        xmlns:ns2="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/"
        xmlns:ns3="http://rep.oio.dk/itst.dk/xml/schemas/2005/06/24/"
        xmlns:ns4="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/"
        xmlns:ns5="http://rep.oio.dk/itst.dk/xml/schemas/2005/02/22/"
        xmlns:ns6="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/11/24/"
        xmlns:ns7="http://rep.oio.dk/xkom.dk/xml/schemas/2005/03/15/"
        xmlns:ns8="http://rep.oio.dk/ois.dk/xml/schemas/2006/04/25/"
        xmlns:ns9="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/" attributeFormDefault="unqualified"
        elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/">
    <import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/11/24/"
            schemaLocation="cpr.dk_core_20051124.xsd"/>
    <import namespace="http://rep.oio.dk/ois.dk/xml/schemas/2006/04/25/" schemaLocation="ois.dk_20060425.xsd"/>
    <import namespace="http://rep.oio.dk/medcom.sundcom.dk/xml/schemas/2007/02/01/"
            schemaLocation="medcom.sundcom.dk_20070201.xsd"/>
    <import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2006/01/17/" schemaLocation="cpr.dk_core_20060117.xsd"/>
    <import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2006/09/01/" schemaLocation="cpr.dk_core_20060901.xsd"/>
    <import namespace="http://rep.oio.dk/xkom.dk/xml/schemas/2005/03/15/" schemaLocation="xkom.dk_20050315.xsd"/>
    <import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/09/01/" schemaLocation="dkcc_20050901.xsd"/>
    <import namespace="http://rep.oio.dk/itst.dk/xml/schemas/2005/06/24/" schemaLocation="itst.dk_20050624.xsd"/>
    <import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/" schemaLocation="dkcc_20050315.xsd"/>
    <import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/"
            schemaLocation="cpr.dk_core_20050318.xsd"/>
    <import namespace="http://rep.oio.dk/xkom.dk/xml/schemas/2006/01/06/" schemaLocation="xkom.dk_20060106.xsd"/>
    <import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/13/" schemaLocation="dkcc_20050513.xsd"/>
    <import namespace="http://rep.oio.dk/itst.dk/xml/schemas/2006/01/17/" schemaLocation="itst.dk_20060117.xsd"/>
    <import namespace="http://rep.oio.dk/itst.dk/xml/schemas/2005/02/22/" schemaLocation="itst.dk_20050222.xsd"/>
    <element name="MailDeliverySublocationIdentifier" type="ns4:MailDeliverySublocationIdentifierType">
        <annotation>
            <documentation>
                The given name of a farm, estate, building or dwelling, which is used as a additional postal address
                identifier.
            </documentation>
        </annotation>
    </element>
    <simpleType name="MailDeliverySublocationIdentifierType">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="34"/>
        </restriction>
    </simpleType>
    <element name="PersonSurnameName" type="ns4:PersonSurnameNameType"/>
    <simpleType name="PersonSurnameNameType">
        <annotation>
            <documentation>Declaration of an individuals surname.</documentation>
        </annotation>
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="40"/>
        </restriction>
    </simpleType>
    <element name="PersonMiddleName" type="ns4:PersonMiddleNameType"/>
    <simpleType name="PersonMiddleNameType">
        <annotation>
            <documentation>Declaration of an individual’s middle name(s).</documentation>
        </annotation>
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="40"/>
        </restriction>
    </simpleType>
    <element name="FloorIdentifier" type="ns4:FloorIdentifierType">
        <annotation>
            <documentation>
                Identification which describes the floor or level on which a specific entrance door, appartment or suite
                is placed, in the staircase refered to.
            </documentation>
        </annotation>
    </element>
    <simpleType name="FloorIdentifierType">
        <restriction base="string">
            <pattern value="[1-9]|[1-9][0-9]|KL|ST|kl|st|k[2-9]|K[2-9]"/>
        </restriction>
    </simpleType>
    <element name="PersonGivenName" type="ns4:PersonGivenNameType">
        <annotation>
            <documentation>Declaration of an individual’s first name(s).</documentation>
        </annotation>
    </element>
    <simpleType name="PersonGivenNameType">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="50"/>
        </restriction>
    </simpleType>
    <element name="SuiteIdentifier" type="ns4:SuiteIdentifierType">
        <annotation>
            <documentation>
                Identification which describes the location of a specific entrance door on a floor or level (repos) in
                the staircase referred to.
            </documentation>
        </annotation>
    </element>
    <simpleType name="SuiteIdentifierType">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="4"/>
        </restriction>
    </simpleType>
    <element name="CountryIdentificationCode" type="ns4:CountryIdentificationCodeType"/>
    <complexType name="CountryIdentificationCodeType">
        <annotation>
            <documentation xml:lang="en-uk">The country code based on the 4 diffent schemes.</documentation>
            <documentation xml:lang="da-dk">Landeidentifikations kode baseret paa de 4 forskellige formater.
            </documentation>
        </annotation>
        <simpleContent>
            <extension base="ns4:_CountryIdentificationCodeType">
                <attribute name="scheme" type="ns4:_CountryIdentificationSchemeType" use="required"/>
            </extension>
        </simpleContent>
    </complexType>
    <simpleType name="_CountryIdentificationCodeType">
        <annotation>
            <documentation xml:lang="en-uk">This is a support type for CountryIdentificationCodeType. The pattern is a
                choice of 4 different patterns for different schems. ISO 3166 standard, alpha 2: [a-z,A-Z]{2}. Eksample
                "DK" for Danmark. ISO 3166 standard, alpha 3: [a-z,A-Z]{3}. Eksample "DKN" for Danmark. UN Statistics
                Divisions country codes: [0-9]{3}. Eksample "208" for Danmark AuthorityCode from the Central Office of
                Civil Registration: [0-9]{4}. Eksample "5100" for Danmark.
            </documentation>
            <documentation xml:lang="da-dk">Dette er en stoettetype til CountryIdentificationCodeType. Det regulaere
                udtryk er et valg for de 4 forskellige regulaere udtryk for de forskellige formater. ISO 3166 standard,
                alpha 2: [a-z,A-Z]{2}. Eksempel "DK" for Danmark. ISO 3166 standard, alpha 3: [a-z,A-Z]{3}. Eksempel
                "DKN" for Danmark. UN Statistics Divisions country codes: [0-9]{3}. Eksempel "208" for Danmark
                AuthorityCode from the Central Office of Civil Registration: [0-9]{4}. Eksempel "5100" for Danmark.
            </documentation>
        </annotation>
        <restriction base="string">
            <pattern value="[a-z,A-Z]{2}|[a-z,A-Z]{3}|[0-9]{3}|[0-9]{4}"/>
        </restriction>
    </simpleType>
    <simpleType name="_CountryIdentificationSchemeType">
        <annotation>
            <documentation xml:lang="en-uk">This is a support type for CountryIdentificationCodeType.</documentation>
            <documentation xml:lang="da-dk">Dette er en stoettetype til CountryIdentificationCodeType.</documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="iso3166-alpha2">
                <annotation>
                    <documentation xml:lang="en-uk">This scheme follows the ISO 3166 standard, alpha 2.</documentation>
                    <documentation xml:lang="da-dk">Dette format foelge ISO 3166 standarden, alpha 2.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="iso3166-alpha3">
                <annotation>
                    <documentation xml:lang="en-uk">This scheme follows the ISO 3166 standard, alpha 3.</documentation>
                    <documentation xml:lang="da-dk">Dette format foelge ISO 3166 standarden, alpha 3.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="un-numeric3">
                <annotation>
                    <documentation xml:lang="en-uk">This scheme follows the UN Statistics Divisions country codes.
                    </documentation>
                    <documentation xml:lang="da-dk">Dette format foelger FNs Statistik Kontor landekoder</documentation>
                </annotation>
            </enumeration>
            <enumeration value="imk">
                <annotation>
                    <documentation xml:lang="en-uk">This scheme follows the AuthorityCode from the Central Office of
                        Civil Registration.
                    </documentation>
                    <documentation xml:lang="da-dk">Dette format foelger MyndighedsKoden fra Det Centrale Personregister
                    </documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <element name="PersonGenderCode" type="ns4:PersonGenderCodeType">
        <annotation>
            <documentation>Declares the individuals gender by distinguish between
                male and female.
            </documentation>
        </annotation>
    </element>
    <simpleType name="PersonGenderCodeType">
        <restriction base="string">
            <enumeration value="male"/>
            <enumeration value="female"/>
            <enumeration value="unknown"/>
        </restriction>
    </simpleType>
    <element name="StreetBuildingIdentifier" type="ns4:StreetBuildingIdentifierType">
        <annotation>
            <documentation>
                Numeric identification (da: house number ~ 'husnummer') including an optional letter, which identifies a
                certain access to a building, a plot/piece of land or a plant etc. based on the named road or street
                which gives access hereto. The identifier is determined in increasing numerical and letter order along
                the road, normally with even numbers on the right side and odd numbers on the left side of the road.
            </documentation>
        </annotation>
    </element>
    <simpleType name="StreetBuildingIdentifierType">
        <restriction base="string">
            <pattern value="([1-9]|[1-9][0-9]|[1-9][0-9]{2})|([1-9][A-Z]|[1-9][0-9][A-Z]|[1-9][0-9]{2}[A-Z])"/>
        </restriction>
    </simpleType>
</schema>