nsp/cpr-ws/src/main/webapp/WEB-INF/wsdl/medcom.sundcom.dk_20070201.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://rep.oio.dk/medcom.sundcom.dk/xml/schemas/2007/02/01/"
        xmlns:ns10="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/09/01/"
        xmlns:ns11="http://rep.oio.dk/itst.dk/xml/schemas/2005/06/24/"
        xmlns:ns13="http://rep.oio.dk/ois.dk/xml/schemas/2006/04/25/"
        xmlns:ns15="http://rep.oio.dk/cpr.dk/xml/schemas/core/2006/09/01/"
        xmlns:ns2="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/"
        xmlns:ns4="http://rep.oio.dk/xkom.dk/xml/schemas/2005/03/15/"
        xmlns:ns6="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/"
        xmlns:ns7="http://rep.oio.dk/xkom.dk/xml/schemas/2006/01/06/"
        xmlns:ns9="http://rep.oio.dk/cpr.dk/xml/schemas/core/2006/01/17/" attributeFormDefault="unqualified"
        elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/medcom.sundcom.dk/xml/schemas/2007/02/01/">
    <import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/11/24/" schemaLocation="cpr.dk_core_20051124.xsd"/>
    <import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" schemaLocation="cpr.dk_core_20050318.xsd"/>
    <import namespace="http://rep.oio.dk/ois.dk/xml/schemas/2006/04/25/" schemaLocation="ois.dk_20060425.xsd"/>
    <import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2006/01/17/" schemaLocation="cpr.dk_core_20060117.xsd"/>
    <import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2006/09/01/" schemaLocation="cpr.dk_core_20060901.xsd"/>
    <import namespace="http://rep.oio.dk/xkom.dk/xml/schemas/2005/03/15/" schemaLocation="xkom.dk_20050315.xsd"/>
    <import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/09/01/" schemaLocation="dkcc_20050901.xsd"/>
    <import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/" schemaLocation="dkcc_20050315.xsd"/>
    <import namespace="http://rep.oio.dk/itst.dk/xml/schemas/2005/06/24/" schemaLocation="itst.dk_20050624.xsd"/>
    <import namespace="http://rep.oio.dk/xkom.dk/xml/schemas/2006/01/06/" schemaLocation="xkom.dk_20060106.xsd"/>
    <xs:element name="PersonWithHealthCareInformationStructure" type="ns1:PersonWithHealthCareInformationStructureType"
                xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:annotation>
            <xs:documentation>Informationer paa en person samt dennes laege</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="PersonWithHealthCareInformationStructureType" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:annotation>
            <xs:documentation>Informationer paa person og dennes laege der er registreret i CPR-registret.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="ns1:PersonInformationStructure">
                <xs:annotation>
                    <xs:documentation>Informationer vedr. personen selv.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="ns1:PersonHealthCareInformationStructure">
                <xs:annotation>
                    <xs:documentation>Informationer vedr. personens laege og sygesikringsgruppe.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AssociatedGeneralPractitionerStructure" type="ns1:AssociatedGeneralPractitionerStructureType"
                xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:annotation>
            <xs:documentation>Tildelt praktiserende laege.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="AssociatedGeneralPractitionerStructureType" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:annotation>
            <xs:documentation>Informationer om den praktiserende laege der er tildelt en person.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="ns1:AssociatedGeneralPractitionerIdentifier">
                <xs:annotation>
                    <xs:documentation>Ydernummeret paa den praktiserende laege</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="ns1:AssociatedGeneralPractitionerOrganisationName">
                <xs:annotation>
                    <xs:documentation>Navn paa laegepraksis eller den praktiserende laege.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="ns11:StandardAddressIdentifier">
                <xs:annotation>
                    <xs:documentation>Postadresse paa laegepraksis</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="ns6:PostCodeIdentifier">
                <xs:annotation>
                    <xs:documentation>Postnummeret paa laegepraksis</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="ns6:DistrictName">
                <xs:annotation>
                    <xs:documentation>Bynavn for laegepraksis</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" ref="ns10:TelephoneSubscriberIdentifier">
                <xs:annotation>
                    <xs:documentation>Telefonnummer paa laege/praksis.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" ref="ns4:EmailAddressIdentifier">
                <xs:annotation>
                    <xs:documentation>Email-adresse paa laege/praksis.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="PersonHealthCareInformationStructure" type="ns1:PersonHealthCareInformationStructureType"
                xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:annotation>
            <xs:documentation>Information vedr. en Persons laege og sygesikringsgruppe</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="PersonHealthCareInformationStructureType" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:annotation>
            <xs:documentation>Informationer vedr. en persons laege og sygesikringsgruppe.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="ns1:AssociatedGeneralPractitionerStructure">
                <xs:annotation>
                    <xs:documentation>Informationer vedr. personens laege.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="ns1:PersonPublicHealthInsurance">
                <xs:annotation>
                    <xs:documentation>Informationer vedr. personens sygesikringsgruppe.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="PublicHealthInsuranceGroupIdentifier" type="ns1:PublicHealthInsuranceGroupIdentifierType"
                xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:annotation>
            <xs:documentation>Sygesikringsgruppenummer</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:simpleType name="PublicHealthInsuranceGroupIdentifierType" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:annotation>
            <xs:documentation>Sygesikringsgruppe, angiver daekning af sundhedsydelser.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="sygesikringsgruppe_1">
                <xs:annotation>
                    <xs:documentation>Gruppe 1 daekning.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="sygesikringsgruppe_2">
                <xs:annotation>
                    <xs:documentation>Gruppe 2 daekning.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="PersonInformationStructure" type="ns1:PersonInformationStructureType"
                xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:annotation>
            <xs:documentation>Informationer om en Person</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="PersonInformationStructureType" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:annotation>
            <xs:documentation>Informationer i CPR-registret omkring en person.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="CurrentPersonCivilRegistrationIdentifier"
                        type="ns2:PersonCivilRegistrationIdentifierType">
                <xs:annotation>
                    <xs:documentation>Hvis personen har faaet tildelt et nyt cpr-nr angives det her.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="ns9:RegularCPRPerson">
                <xs:annotation>
                    <xs:documentation>Informationer vedr. identifikation af personen</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="ns1:PersonAddressStructure">
                <xs:annotation>
                    <xs:documentation>Personens postadresse</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="PublicHealthInsuranceGroupStartDate" type="xs:date" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:annotation>
            <xs:documentation>Dato for indtraedelse i sygesikringsgruppe</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AssociatedGeneralPractitionerOrganisationName"
                type="ns1:AssociatedGeneralPractitionerOrganisationNameType"
                xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:annotation>
            <xs:documentation>Navn paa tildelt laegepraksis eller laeges eget navn.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:simpleType name="AssociatedGeneralPractitionerOrganisationNameType" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:annotation>
            <xs:documentation>Navn paa tildelt laegepraksis eller laeges eget navn.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="70"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="PersonPublicHealthInsurance" type="ns1:PersonPublicHealthInsuranceType"
                xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:annotation>
            <xs:documentation>Sygesikringsgruppe.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="PersonPublicHealthInsuranceType" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:annotation>
            <xs:documentation>Sygesikringsgruppe for en person i det danske sundhedsvaesen.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="ns1:PublicHealthInsuranceGroupIdentifier">
                <xs:annotation>
                    <xs:documentation>Sygesikringsgruppenummer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" ref="ns1:PublicHealthInsuranceGroupStartDate">
                <xs:annotation>
                    <xs:documentation>Dato for indtraedelse i denne gruppe.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="PersonAddressStructure" type="ns1:PersonAddressStructureType"
                xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:annotation>
            <xs:documentation>Adresseoplysninger</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="PersonAddressStructureType" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:annotation>
            <xs:documentation>Postaddresse paa en person i Danmark samt information vedr. adressebeskyttelse.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" ref="ns11:CareOfName">
                <xs:annotation>
                    <xs:documentation>Angiver om denne adresse er en C/O adresse</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="ns7:AddressComplete">
                <xs:annotation>
                    <xs:documentation>Adresse i danmark</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" ref="ns15:PersonInformationProtectionStartDate">
                <xs:annotation>
                    <xs:documentation>Hvis dette felt forekommer er adressen beskyttet fra denne dato, ellers ingen
                        beskyttelse.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="ns13:CountyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AssociatedGeneralPractitionerIdentifier" type="ns1:AssociatedGeneralPractitionerIdentifierType"
                xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:annotation>
            <xs:documentation>Ydernummeret paa egen laege som er tilknyttet patienten.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:simpleType name="AssociatedGeneralPractitionerIdentifierType" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:annotation>
            <xs:documentation>Ydernummeret paa egen laege, paa 6 cifre.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="6"/>
        </xs:restriction>
    </xs:simpleType>
</schema>