nsp/authorization-lookup-ws/src/main/webapp/WEB-INF/wsdl/Authorization.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://nsi.dk/-/stamdata/3.0" targetNamespace="http://nsi.dk/-/stamdata/3.0"
  xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
  xmlns:dgws="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
      xmlns:sd="http://nsi.dk/-/stamdata/3.0" targetNamespace="http://nsi.dk/-/stamdata/3.0"
      elementFormDefault="qualified" attributeFormDefault="unqualified">
      <element name="AuthorizationRequestStructure" type="sd:AuthorizationRequestType">
        <annotation>
          <documentation>Request element with a CPR-number.</documentation>
        </annotation>
      </element>
      <complexType name="AuthorizationRequestType">
        <sequence>
          <element name="cpr" type="string" />
        </sequence>
      </complexType>
      <complexType name="AuthorizationType">
        <sequence>
          <element name="authorizationCode" type="string" />
          <element name="educationCode" type="string" />
          <element name="educationName" type="string" minOccurs="0" />
        </sequence>
      </complexType>
      <element name="AuthorizationResponseStructure" type="sd:AuthorizationResponseType">
        <annotation>
          <documentation>Response element for a authorization number.</documentation>
        </annotation>
      </element>
      <complexType name="AuthorizationResponseType">
        <sequence minOccurs="0">
          <element name="cpr" type="string" />
          <element name="firstName" type="string" minOccurs="0" />
          <element name="lastName" type="string" minOccurs="0" />
          <element name="authorization" type="sd:AuthorizationType"
            minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </complexType>
    </xsd:schema>

    <!-- Den gode webservice schemas. -->
    <xsd:schema targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
    <xsd:include schemaLocation="dgws/wsse.xsd" />
  </xsd:schema>
  <xsd:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
    <xsd:include schemaLocation="dgws/medcom.xsd" />
  </xsd:schema>
  
    <!-- NB: This is added to avoid JAX-WS mapping date to XMLGregorialCalendar, which does not play nice with SEAL. -->
    <xsd:schema xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" targetNamespace="http://nsi.dk/-/stamdata/3.0" jaxb:version="2.1" elementFormDefault="qualified">
    <xsd:annotation>
      <xsd:appinfo>
        <jaxb:globalBindings>
          <jaxb:javaType name="java.util.Calendar" xmlType="xsd:dateTime"
            parseMethod="javax.xml.bind.DatatypeConverter.parseDateTime"
            printMethod="javax.xml.bind.DatatypeConverter.printDateTime" />
        </jaxb:globalBindings>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:schema>
  </wsdl:types>

  <wsdl:message name="AuthorizationRequestMessage">
    <wsdl:part name="wsseHeader" element="wsse:Security" />
    <wsdl:part name="medcomHeader" element="dgws:Header" />
    <wsdl:part element="tns:AuthorizationRequestStructure" name="parameters" />
  </wsdl:message>

  <wsdl:message name="AuthorizationResponseMessage">
    <wsdl:part name="wsseHeader" element="wsse:Security" />
    <wsdl:part name="medcomHeader" element="dgws:Header" />
    <wsdl:part element="tns:AuthorizationResponseStructure" name="parameters" />
  </wsdl:message>

  <wsdl:message name="DGWSFault">
    <wsdl:part name="fault" element="dgws:FaultCode" />
  </wsdl:message>

  <wsdl:portType name="AuthorizationPortType">
    <wsdl:operation name="Authorization">
      <wsdl:input message="tns:AuthorizationRequestMessage" name="AuthorizationRequestStructureInput" />
      <wsdl:output message="tns:AuthorizationResponseMessage" name="AuthorizationResponseStructureOutput" />
      <wsdl:fault message="tns:DGWSFault" name="DGWSFault" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="AuthorizationBinding" type="tns:AuthorizationPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authorization">
      <soap:operation soapAction="http://nsi.dk/sdm/Gateway" />
      <wsdl:input name="AuthorizationRequestStructureInput">
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:AuthorizationRequestMessage" part="wsseHeader" use="literal"/>
        <soap:header message="tns:AuthorizationRequestMessage" part="medcomHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output name="AuthorizationResponseStructureOutput">
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:AuthorizationResponseMessage" part="wsseHeader" use="literal"/>
        <soap:header message="tns:AuthorizationResponseMessage" part="medcomHeader" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DGWSFault">
        <soap:fault name="DGWSFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="AuthorizationService">
    <wsdl:port binding="tns:AuthorizationBinding" name="AuthorizationPort">
      <!-- The following is required in the wsdl, but the actual url is defined 
        elsewhere -->
      <soap:address location="http://localhost:8080/authorization" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
