doc/schemas/doseringsforslag/dosageunit_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nsi.dk/-/stamdata/3.0/doseringsforslag" targetNamespace="http://nsi.dk/-/stamdata/3.0/doseringsforslag">
  <xs:element name="dosageunit">
    <xs:complexType>
      <xs:all>
        <xs:element name="releaseNumber" type="xs:integer"/>
        <xs:element name="code" type="xs:integer"/>
        <xs:element name="textSingular" type="xs:string"/>
        <xs:element name="textPlural" type="xs:string"/>
        <xs:element name="validFrom" type="xs:dateTime"/>
        <xs:element name="validTo" type="xs:dateTime"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
