doc/schemas/doseringsforslag/version_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nsi.dk/-/stamdata/3.0/doseringsforslag" targetNamespace="http://nsi.dk/-/stamdata/3.0/doseringsforslag">
  <xs:element name="version">
    <xs:complexType>
      <xs:all>
        <xs:element name="daDate" type="xs:date"/>
        <xs:element name="lmsDate" type="xs:date"/>
        <xs:element name="releaseDate" type="xs:date"/>
        <xs:element name="releaseNumber" type="xs:integer"/>
        <xs:element name="validFrom" type="xs:dateTime"/>
        <xs:element name="validTo" type="xs:dateTime"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
