doc/schemas/sor/praksis_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nsi.dk/-/stamdata/3.0/sor" targetNamespace="http://nsi.dk/-/stamdata/3.0/sor">
  <xs:element name="praksis">
    <xs:complexType>
      <xs:all>
        <xs:element name="sorNummer" type="xs:integer"/>
        <xs:element name="eanLokationsnummer" type="xs:integer"/>
        <xs:element name="regionCode" type="xs:integer"/>
        <xs:element name="navn" type="xs:string"/>
        <xs:element name="validFrom" type="xs:dateTime"/>
        <xs:element name="validTo" type="xs:dateTime"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
