subprojects/replication/src/main/webapp/gateway.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsa="http://www.w3.org/2005/08/addressing"
                  xmlns:wsaw="http://www.w3.org/2005/08/addressing/wsdl"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://trifork.com/-/stamdata/3.0"
                  targetNamespace="http://trifork.com/-/stamdata/3.0">
    <wsdl:types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" 
			xmlns:sd="http://trifork.com/-/stamdata/3.0" 
			targetNamespace="http://trifork.com/-/stamdata/3.0" 
			elementFormDefault="qualified"
			attributeFormDefault="unqualified">
			<element name="AuthorizationRequestStructure" type="sd:AuthorizationRequestType">
				<annotation>
					<documentation xml:lang="en-GB">Element for a request for stamdata.</documentation>
					<documentation xml:lang="da-DK">Element for en forespørgsel efter stamdata.</documentation>
				</annotation>
			</element>
			<complexType name="AuthorizationRequestType">
				<sequence>
					<element name="entity" type="anyURI"/>
				</sequence>
			</complexType>
			<element name="AuthorizationResponseStructure" type="sd:AuthorizationResponseType">
				<annotation>
					<documentation xml:lang="en-GB">Outer container element for a response.</documentation>
					<documentation xml:lang="da-DK">Ydre container-element for et svar.</documentation>
				</annotation>
			</element>
			<complexType name="AuthorizationResponseType">
				<sequence>
					<element name="authorization" type="string" />
				</sequence>
			</complexType>
		</xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="AuthorizationRequestMessage">
        <wsdl:part element="tns:AuthorizationRequestStructure" name="AuthorizationRequestPart"/>
    </wsdl:message>
    
    <wsdl:message name="AuthorizationResponseMessage">
        <wsdl:part element="tns:AuthorizationResponseStructure" name="AuthorizationResponsePart"/>
    </wsdl:message>
    
    <wsdl:portType name="AuthorizationPortType">
        <wsdl:operation name="Authorization">
            <wsdl:input message="tns:AuthorizationRequestMessage" name="AuthorizationRequestStructureInput"/>
            <wsdl:output message="tns:AuthorizationResponseMessage" name="AuthorizationResponseStructureOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="AuthorizationBinding" type="tns:AuthorizationPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <!--wsaw:UsingAddressing wsdl:required="true" /-->
        <wsdl:operation name="Authorization">
            <soap:operation soapAction="http://trifork.com/sdm/Gateway"/>
            <wsdl:input name="AuthorizationRequestStructureInput">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="AuthorizationResponseStructureOutput">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="AuthorizationService">
        <wsdl:port binding="tns:AuthorizationBinding" name="AuthorizationPort">
        	<!-- The following is required in the wsdl, but the actual url is defined elsewhere -->
            <soap:address location="http://localhost:8080/authorization"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
